{
  "schemaVersion": 37,
  "addons": [
    {
      "id": "foxyproxy@eric.h.jung",
      "syncGUID": "{28f393b1-ffe8-43f4-81c1-40e9da1f51fb}",
      "version": "9.2",
      "type": "extension",
      "loader": null,
      "updateURL": null,
      "installOrigins": null,
      "manifestVersion": 3,
      "optionsURL": "content/options.html",
      "optionsType": 3,
      "optionsBrowserStyle": false,
      "aboutURL": null,
      "defaultLocale": {
        "name": "FoxyProxy",
        "description": "Easy to use advanced Proxy Management tool for everyone",
        "creator": "Eric Jung",
        "homepageURL": "https://getfoxyproxy.org/",
        "developers": null,
        "translators": null,
        "contributors": null
      },
      "visible": true,
      "active": true,
      "userDisabled": false,
      "appDisabled": false,
      "embedderDisabled": false,
      "installDate": 1758640248144,
      "updateDate": 1758640248144,
      "applyBackgroundUpdates": 1,
      "path": "{{ firefox_profile_directory }}/extensions/foxyproxy@eric.h.jung.xpi",
      "skinnable": false,
      "sourceURI": null,
      "releaseNotesURI": null,
      "softDisabled": false,
      "foreignInstall": true,
      "strictCompatibility": true,
      "locales": [
        {
          "name": "FoxyProxy",
          "description": "Easy to use advanced Proxy Management tool for everyone",
          "creator": "Eric Jung",
          "homepageURL": "https://getfoxyproxy.org/",
          "developers": null,
          "translators": null,
          "contributors": null,
          "locales": ["en"]
        },
        {
          "name": "FoxyProxy",
          "description": "Gestionnaire de proxy avancé facile d'utilisation",
          "creator": "Eric Jung",
          "homepageURL": "https://getfoxyproxy.org/",
          "developers": null,
          "translators": null,
          "contributors": null,
          "locales": ["fr"]
        },
        {
          "name": "FoxyProxy",
          "description": "Простий у використанні просунутий засіб керування проксі для кожного",
          "creator": "Eric Jung",
          "homepageURL": "https://getfoxyproxy.org/",
          "developers": null,
          "translators": null,
          "contributors": null,
          "locales": ["uk"]
        },
        {
          "name": "FoxyProxy",
          "description": "Einfach zu bedienendes, fortschrittliches Proxy-Management-Tool für jedermann",
          "creator": "Eric Jung",
          "homepageURL": "https://getfoxyproxy.org/",
          "developers": null,
          "translators": null,
          "contributors": null,
          "locales": ["de"]
        },
        {
          "name": "FoxyProxy",
          "description": "易于使用，适用于任何人的高级代理管理工具",
          "creator": "Eric Jung",
          "homepageURL": "https://getfoxyproxy.org/",
          "developers": null,
          "translators": null,
          "contributors": null,
          "locales": ["zh-CN"]
        },
        {
          "name": "FoxyProxy",
          "description": "Простой инструмент управления прокси",
          "creator": "Eric Jung",
          "homepageURL": "https://getfoxyproxy.org/",
          "developers": null,
          "translators": null,
          "contributors": null,
          "locales": ["ru"]
        },
        {
          "name": "FoxyProxy",
          "description": "Łatwe w użyciu zaawansowane narzędzie do zarządzania proxy dla każdego",
          "creator": "Eric Jung",
          "homepageURL": "https://getfoxyproxy.org/",
          "developers": null,
          "translators": null,
          "contributors": null,
          "locales": ["pl"]
        },
        {
          "name": "FoxyProxy",
          "description": "ابزاری آسان و پیشرفتهٔ مدیریت پیشکار برای همه",
          "creator": "Eric Jung",
          "homepageURL": "https://getfoxyproxy.org/",
          "developers": null,
          "translators": null,
          "contributors": null,
          "locales": ["fa"]
        },
        {
          "name": "FoxyProxy",
          "description": "Herramienta Avanzada de Gestión de Proxies fácil de usar para todos",
          "creator": "Eric Jung",
          "homepageURL": "https://getfoxyproxy.org/",
          "developers": null,
          "translators": null,
          "contributors": null,
          "locales": ["es"]
        },
        {
          "name": "FoxyProxy",
          "description": "Ferramenta avançada de gerenciamento de proxy fácil de usar para todos",
          "creator": "Eric Jung",
          "homepageURL": "https://getfoxyproxy.org/",
          "developers": null,
          "translators": null,
          "contributors": null,
          "locales": ["pt-BR"]
        },
        {
          "name": "FoxyProxy",
          "description": "任誰都能快速上手的進階代理伺服器管理工具",
          "creator": "Eric Jung",
          "homepageURL": "https://getfoxyproxy.org/",
          "developers": null,
          "translators": null,
          "contributors": null,
          "locales": ["zh-TW"]
        },
        {
          "name": "FoxyProxy",
          "description": "誰でも使いやすい先進的なプロキシー管理ツール",
          "creator": "Eric Jung",
          "homepageURL": "https://getfoxyproxy.org/",
          "developers": null,
          "translators": null,
          "contributors": null,
          "locales": ["ja"]
        }
      ],
      "targetApplications": [
        {
          "id": "toolkit@mozilla.org",
          "minVersion": "128.0",
          "maxVersion": "*"
        }
      ],
      "targetPlatforms": [],
      "signedState": 2,
      "signedTypes": [2, 1],
      "signedDate": 1745435114000,
      "seen": true,
      "dependencies": [],
      "incognito": "spanning",
      "userPermissions": {
        "permissions": [
          "contextMenus",
          "downloads",
          "notifications",
          "proxy",
          "storage",
          "tabs",
          "webRequest",
          "webRequestAuthProvider"
        ],
        "origins": [],
        "data_collection": []
      },
      "optionalPermissions": {
        "permissions": ["browsingData", "privacy"],
        "origins": ["<all_urls>"],
        "data_collection": []
      },
      "requestedPermissions": {
        "permissions": [],
        "origins": ["<all_urls>"],
        "data_collection": []
      },
      "icons": {
        "16": "image/icon.png",
        "32": "image/icon32.png",
        "48": "image/icon48.png",
        "128": "image/icon128.png"
      },
      "iconURL": null,
      "blocklistAttentionDismissed": false,
      "blocklistState": 0,
      "blocklistURL": null,
      "startupData": null,
      "hidden": false,
      "installTelemetryInfo": { "source": "app-profile", "method": "sideload" },
      "recommendationState": {
        "validNotAfter": 1903223113000,
        "validNotBefore": 1745435113000,
        "states": ["recommended", "recommended-android"]
      },
      "rootURI": "jar:file://{{ firefox_profile_directory }}/extensions/foxyproxy@eric.h.jung.xpi!/",
      "location": "app-profile"
    },
    {
      "id": "formautofill@mozilla.org",
      "syncGUID": "{d3323525-30f6-4f34-bd3a-e9f7342b6dc5}",
      "version": "1.0.1",
      "type": "extension",
      "loader": null,
      "updateURL": null,
      "installOrigins": null,
      "manifestVersion": 2,
      "optionsURL": null,
      "optionsType": null,
      "optionsBrowserStyle": true,
      "aboutURL": null,
      "defaultLocale": {
        "name": "Form Autofill",
        "creator": null,
        "developers": null,
        "translators": null,
        "contributors": null
      },
      "visible": true,
      "active": true,
      "userDisabled": false,
      "appDisabled": false,
      "embedderDisabled": false,
      "applyBackgroundUpdates": 1,
      "skinnable": false,
      "sourceURI": null,
      "releaseNotesURI": null,
      "softDisabled": false,
      "foreignInstall": false,
      "strictCompatibility": true,
      "locales": [],
      "targetApplications": [
        { "id": "toolkit@mozilla.org", "minVersion": null, "maxVersion": null }
      ],
      "targetPlatforms": [],
      "signedDate": null,
      "seen": true,
      "dependencies": [],
      "incognito": "spanning",
      "userPermissions": {
        "permissions": [],
        "origins": [],
        "data_collection": []
      },
      "optionalPermissions": {
        "permissions": [],
        "origins": [],
        "data_collection": []
      },
      "requestedPermissions": {
        "permissions": [],
        "origins": [],
        "data_collection": []
      },
      "icons": {},
      "iconURL": null,
      "blocklistAttentionDismissed": false,
      "blocklistState": 0,
      "blocklistURL": null,
      "startupData": null,
      "hidden": true,
      "installTelemetryInfo": null,
      "recommendationState": null,
      "rootURI": "resource://builtin-addons/formautofill/",
      "location": "app-builtin-addons"
    },
    {
      "id": "newtab@mozilla.org",
      "syncGUID": "{1f2d4215-0003-40b5-b33c-c3d2e19e1022}",
      "version": "142.0.0",
      "type": "extension",
      "loader": null,
      "updateURL": null,
      "installOrigins": null,
      "manifestVersion": 2,
      "optionsURL": null,
      "optionsType": null,
      "optionsBrowserStyle": true,
      "aboutURL": null,
      "defaultLocale": {
        "name": "New Tab",
        "description": "",
        "creator": null,
        "developers": null,
        "translators": null,
        "contributors": null
      },
      "visible": true,
      "active": true,
      "userDisabled": false,
      "appDisabled": false,
      "embedderDisabled": false,
      "applyBackgroundUpdates": 1,
      "skinnable": false,
      "sourceURI": null,
      "releaseNotesURI": null,
      "softDisabled": false,
      "foreignInstall": false,
      "strictCompatibility": true,
      "locales": [],
      "targetApplications": [
        {
          "id": "toolkit@mozilla.org",
          "minVersion": "142.0a1",
          "maxVersion": null
        }
      ],
      "targetPlatforms": [],
      "signedDate": null,
      "seen": true,
      "dependencies": [],
      "incognito": "spanning",
      "userPermissions": {
        "permissions": [],
        "origins": [],
        "data_collection": []
      },
      "optionalPermissions": {
        "permissions": [],
        "origins": [],
        "data_collection": []
      },
      "requestedPermissions": {
        "permissions": [],
        "origins": [],
        "data_collection": []
      },
      "icons": {},
      "iconURL": null,
      "blocklistAttentionDismissed": false,
      "blocklistState": 0,
      "blocklistURL": null,
      "startupData": null,
      "hidden": true,
      "installTelemetryInfo": null,
      "recommendationState": null,
      "rootURI": "resource://builtin-addons/newtab/",
      "location": "app-builtin-addons"
    },
    {
      "id": "pictureinpicture@mozilla.org",
      "syncGUID": "{7a0a08e9-f52b-4db0-8f6f-72a5a337a15f}",
      "version": "1.0.0",
      "type": "extension",
      "loader": null,
      "updateURL": null,
      "installOrigins": null,
      "manifestVersion": 2,
      "optionsURL": null,
      "optionsType": null,
      "optionsBrowserStyle": true,
      "aboutURL": null,
      "defaultLocale": {
        "name": "Picture-In-Picture",
        "description": "Fixes for web compatibility with Picture-in-Picture",
        "creator": null,
        "developers": null,
        "translators": null,
        "contributors": null
      },
      "visible": true,
      "active": true,
      "userDisabled": false,
      "appDisabled": false,
      "embedderDisabled": false,
      "applyBackgroundUpdates": 1,
      "skinnable": false,
      "sourceURI": null,
      "releaseNotesURI": null,
      "softDisabled": false,
      "foreignInstall": false,
      "strictCompatibility": true,
      "locales": [],
      "targetApplications": [
        {
          "id": "toolkit@mozilla.org",
          "minVersion": "88.0a1",
          "maxVersion": null
        }
      ],
      "targetPlatforms": [],
      "signedDate": null,
      "seen": true,
      "dependencies": [],
      "incognito": "spanning",
      "userPermissions": {
        "permissions": [],
        "origins": [],
        "data_collection": []
      },
      "optionalPermissions": {
        "permissions": [],
        "origins": [],
        "data_collection": []
      },
      "requestedPermissions": {
        "permissions": [],
        "origins": [],
        "data_collection": []
      },
      "icons": {},
      "iconURL": null,
      "blocklistAttentionDismissed": false,
      "blocklistState": 0,
      "blocklistURL": null,
      "startupData": null,
      "hidden": true,
      "installTelemetryInfo": null,
      "recommendationState": null,
      "rootURI": "resource://builtin-addons/pictureinpicture/",
      "location": "app-builtin-addons"
    },
    {
      "id": "addons-search-detection@mozilla.com",
      "syncGUID": "{98818a63-badf-47b6-884c-d6d12bb91de1}",
      "version": "3.0.0",
      "type": "extension",
      "loader": null,
      "updateURL": null,
      "installOrigins": null,
      "manifestVersion": 2,
      "optionsURL": null,
      "optionsType": null,
      "optionsBrowserStyle": true,
      "aboutURL": null,
      "defaultLocale": {
        "name": "Add-ons Search Detection",
        "description": "",
        "creator": null,
        "developers": null,
        "translators": null,
        "contributors": null
      },
      "visible": true,
      "active": true,
      "userDisabled": false,
      "appDisabled": false,
      "embedderDisabled": false,
      "applyBackgroundUpdates": 1,
      "skinnable": false,
      "sourceURI": null,
      "releaseNotesURI": null,
      "softDisabled": false,
      "foreignInstall": false,
      "strictCompatibility": true,
      "locales": [],
      "targetApplications": [
        { "id": "toolkit@mozilla.org", "minVersion": null, "maxVersion": null }
      ],
      "targetPlatforms": [],
      "signedDate": null,
      "seen": true,
      "dependencies": [],
      "incognito": "spanning",
      "userPermissions": {
        "permissions": ["telemetry", "webRequest", "webRequestBlocking"],
        "origins": ["<all_urls>"],
        "data_collection": []
      },
      "optionalPermissions": {
        "permissions": [],
        "origins": [],
        "data_collection": []
      },
      "requestedPermissions": {
        "permissions": [],
        "origins": [],
        "data_collection": []
      },
      "icons": {},
      "iconURL": null,
      "blocklistAttentionDismissed": false,
      "blocklistState": 0,
      "blocklistURL": null,
      "startupData": null,
      "hidden": true,
      "installTelemetryInfo": null,
      "recommendationState": null,
      "rootURI": "resource://builtin-addons/search-detection/",
      "location": "app-builtin-addons"
    },
    {
      "id": "webcompat@mozilla.org",
      "syncGUID": "{ef43dc2e-8852-4d69-a12a-8292df998c9b}",
      "version": "142.9.0",
      "type": "extension",
      "loader": null,
      "updateURL": null,
      "installOrigins": null,
      "manifestVersion": 2,
      "optionsURL": null,
      "optionsType": null,
      "optionsBrowserStyle": true,
      "aboutURL": null,
      "defaultLocale": {
        "name": "Web Compatibility Interventions",
        "description": "Urgent post-release fixes for web compatibility.",
        "creator": null,
        "developers": null,
        "translators": null,
        "contributors": null
      },
      "visible": true,
      "active": true,
      "userDisabled": false,
      "appDisabled": false,
      "embedderDisabled": false,
      "applyBackgroundUpdates": 1,
      "skinnable": false,
      "sourceURI": null,
      "releaseNotesURI": null,
      "softDisabled": false,
      "foreignInstall": false,
      "strictCompatibility": true,
      "locales": [],
      "targetApplications": [
        {
          "id": "toolkit@mozilla.org",
          "minVersion": "102.0",
          "maxVersion": null
        }
      ],
      "targetPlatforms": [],
      "signedDate": null,
      "seen": true,
      "dependencies": [],
      "incognito": "spanning",
      "userPermissions": {
        "permissions": [
          "cookies",
          "mozillaAddons",
          "scripting",
          "tabs",
          "webNavigation",
          "webRequest",
          "webRequestBlocking"
        ],
        "origins": ["<all_urls>"],
        "data_collection": []
      },
      "optionalPermissions": {
        "permissions": [],
        "origins": [],
        "data_collection": []
      },
      "requestedPermissions": {
        "permissions": [],
        "origins": [],
        "data_collection": []
      },
      "icons": {},
      "iconURL": null,
      "blocklistAttentionDismissed": false,
      "blocklistState": 0,
      "blocklistURL": null,
      "startupData": null,
      "hidden": true,
      "installTelemetryInfo": null,
      "recommendationState": null,
      "rootURI": "resource://builtin-addons/webcompat/",
      "location": "app-builtin-addons"
    },
    {
      "id": "default-theme@mozilla.org",
      "syncGUID": "{ae74a4b0-22ac-4d6e-a984-52de6c3f815a}",
      "version": "1.4.2",
      "type": "theme",
      "loader": null,
      "updateURL": null,
      "installOrigins": null,
      "manifestVersion": 2,
      "optionsURL": null,
      "optionsType": null,
      "optionsBrowserStyle": true,
      "aboutURL": null,
      "defaultLocale": {
        "name": "System theme — auto",
        "description": "Follow the operating system setting for buttons, menus, and windows.",
        "creator": "Mozilla",
        "developers": null,
        "translators": null,
        "contributors": null
      },
      "visible": true,
      "active": true,
      "userDisabled": false,
      "appDisabled": false,
      "embedderDisabled": false,
      "installDate": 1758640255330,
      "applyBackgroundUpdates": 1,
      "path": null,
      "skinnable": false,
      "sourceURI": null,
      "releaseNotesURI": null,
      "softDisabled": false,
      "foreignInstall": false,
      "strictCompatibility": true,
      "locales": [],
      "targetApplications": [
        { "id": "toolkit@mozilla.org", "minVersion": null, "maxVersion": null }
      ],
      "targetPlatforms": [],
      "signedDate": null,
      "seen": true,
      "dependencies": [],
      "userPermissions": null,
      "optionalPermissions": null,
      "requestedPermissions": null,
      "icons": { "32": "icon.svg" },
      "iconURL": null,
      "blocklistAttentionDismissed": false,
      "blocklistState": 0,
      "blocklistURL": null,
      "startupData": null,
      "hidden": false,
      "installTelemetryInfo": null,
      "recommendationState": null,
      "rootURI": "resource://default-theme/",
      "location": "app-builtin"
    },
    {
      "id": "langpack-de@firefox.mozilla.org",
      "syncGUID": "{780f4f0f-7fde-4edd-ae47-749931d1641e}",
      "version": "142.0.20250827.4350",
      "type": "locale",
      "loader": null,
      "updateURL": null,
      "installOrigins": null,
      "manifestVersion": 2,
      "optionsURL": null,
      "optionsType": null,
      "optionsBrowserStyle": true,
      "aboutURL": null,
      "defaultLocale": {
        "name": "Language: Deutsch (German)",
        "description": "Firefox Language Pack for Deutsch (de) – German",
        "creator": "Sebastian Hengst (contributors: Robert Kaiser, Abdulkadir Topal)",
        "developers": null,
        "translators": null,
        "contributors": null
      },
      "visible": true,
      "active": true,
      "userDisabled": false,
      "appDisabled": false,
      "embedderDisabled": false,
      "installDate": 1758640256744,
      "updateDate": 1758640256744,
      "applyBackgroundUpdates": 1,
      "path": "{{ firefox_profile_directory }}/extensions/langpack-de@firefox.mozilla.org.xpi",
      "skinnable": false,
      "sourceURI": "https://addons.mozilla.org/firefox/downloads/file/4565619/deutsch_de_language_pack-142.0.20250827.4350.xpi",
      "releaseNotesURI": null,
      "softDisabled": false,
      "foreignInstall": false,
      "strictCompatibility": true,
      "locales": [],
      "targetApplications": [
        {
          "id": "toolkit@mozilla.org",
          "minVersion": "142.0",
          "maxVersion": "142.*"
        }
      ],
      "targetPlatforms": [],
      "signedState": 2,
      "signedTypes": [2, 1],
      "signedDate": 1756265154000,
      "seen": true,
      "dependencies": [],
      "userPermissions": null,
      "optionalPermissions": null,
      "requestedPermissions": null,
      "icons": {},
      "iconURL": null,
      "blocklistAttentionDismissed": false,
      "blocklistState": 0,
      "blocklistURL": null,
      "startupData": {
        "chromeEntries": [
          [
            "locale",
            "app-marketplace-icons",
            "de",
            "browser/chrome/browser/locale/de/app-marketplace-icons/"
          ],
          ["locale", "branding", "de", "browser/chrome/de/locale/branding/"],
          ["locale", "browser", "de", "browser/chrome/de/locale/browser/"],
          [
            "locale",
            "browser-region",
            "de",
            "browser/chrome/de/locale/browser-region/"
          ],
          [
            "locale",
            "devtools",
            "de",
            "browser/chrome/de/locale/de/devtools/client/"
          ],
          [
            "locale",
            "devtools-shared",
            "de",
            "browser/chrome/de/locale/de/devtools/shared/"
          ],
          ["locale", "alerts", "de", "chrome/de/locale/de/alerts/"],
          ["locale", "autoconfig", "de", "chrome/de/locale/de/autoconfig/"],
          ["locale", "global", "de", "chrome/de/locale/de/global/"],
          [
            "locale",
            "global-platform",
            "de",
            "chrome/de/locale/de/global-platform/unix/"
          ],
          ["locale", "mozapps", "de", "chrome/de/locale/de/mozapps/"],
          ["locale", "necko", "de", "chrome/de/locale/de/necko/"],
          ["locale", "passwordmgr", "de", "chrome/de/locale/de/passwordmgr/"],
          ["locale", "pipnss", "de", "chrome/de/locale/de/pipnss/"],
          ["locale", "pippki", "de", "chrome/de/locale/de/pippki/"],
          ["locale", "places", "de", "chrome/de/locale/de/places/"]
        ],
        "langpackId": "langpack-de-browser",
        "l10nRegistrySources": { "toolkit": "", "browser": "browser/" },
        "languages": ["de"]
      },
      "hidden": false,
      "installTelemetryInfo": { "source": "about:welcome" },
      "recommendationState": null,
      "rootURI": "jar:file://{{ firefox_profile_directory }}/extensions/langpack-de@firefox.mozilla.org.xpi!/",
      "location": "app-profile"
    },
    {
      "id": "firefox-compact-light@mozilla.org",
      "syncGUID": "{d63f8677-45fe-43ae-ac55-5323eb5e6b47}",
      "version": "1.3.3",
      "type": "theme",
      "loader": null,
      "updateURL": null,
      "installOrigins": null,
      "manifestVersion": 2,
      "optionsURL": null,
      "optionsType": null,
      "optionsBrowserStyle": true,
      "aboutURL": null,
      "defaultLocale": {
        "name": "Light",
        "description": "A theme with a light color scheme.",
        "creator": "Mozilla",
        "developers": null,
        "translators": null,
        "contributors": null
      },
      "visible": true,
      "active": false,
      "userDisabled": true,
      "appDisabled": false,
      "embedderDisabled": false,
      "installDate": 1758640256949,
      "applyBackgroundUpdates": 1,
      "path": null,
      "skinnable": false,
      "sourceURI": null,
      "releaseNotesURI": null,
      "softDisabled": false,
      "foreignInstall": false,
      "strictCompatibility": true,
      "locales": [],
      "targetApplications": [
        { "id": "toolkit@mozilla.org", "minVersion": null, "maxVersion": null }
      ],
      "targetPlatforms": [],
      "signedDate": null,
      "seen": true,
      "dependencies": [],
      "userPermissions": null,
      "optionalPermissions": null,
      "requestedPermissions": null,
      "icons": { "32": "icon.svg" },
      "iconURL": null,
      "blocklistAttentionDismissed": false,
      "blocklistState": 0,
      "blocklistURL": null,
      "startupData": null,
      "hidden": false,
      "installTelemetryInfo": null,
      "recommendationState": null,
      "rootURI": "resource://builtin-themes/light/",
      "location": "app-builtin"
    },
    {
      "id": "firefox-compact-dark@mozilla.org",
      "syncGUID": "{615ab805-de0f-4b2f-8cf9-9bcec9e05b87}",
      "version": "1.3.3",
      "type": "theme",
      "loader": null,
      "updateURL": null,
      "installOrigins": null,
      "manifestVersion": 2,
      "optionsURL": null,
      "optionsType": null,
      "optionsBrowserStyle": true,
      "aboutURL": null,
      "defaultLocale": {
        "name": "Dark",
        "description": "A theme with a dark color scheme.",
        "creator": "Mozilla",
        "developers": null,
        "translators": null,
        "contributors": null
      },
      "visible": true,
      "active": false,
      "userDisabled": true,
      "appDisabled": false,
      "embedderDisabled": false,
      "installDate": 1758640256951,
      "applyBackgroundUpdates": 1,
      "path": null,
      "skinnable": false,
      "sourceURI": null,
      "releaseNotesURI": null,
      "softDisabled": false,
      "foreignInstall": false,
      "strictCompatibility": true,
      "locales": [],
      "targetApplications": [
        { "id": "toolkit@mozilla.org", "minVersion": null, "maxVersion": null }
      ],
      "targetPlatforms": [],
      "signedDate": null,
      "seen": true,
      "dependencies": [],
      "userPermissions": null,
      "optionalPermissions": null,
      "requestedPermissions": null,
      "icons": { "32": "icon.svg" },
      "iconURL": null,
      "blocklistAttentionDismissed": false,
      "blocklistState": 0,
      "blocklistURL": null,
      "startupData": null,
      "hidden": false,
      "installTelemetryInfo": null,
      "recommendationState": null,
      "rootURI": "resource://builtin-themes/dark/",
      "location": "app-builtin"
    },
    {
      "id": "firefox-alpenglow@mozilla.org",
      "syncGUID": "{a14b7617-7113-45df-a0f1-5d822a1a6ba5}",
      "version": "1.5",
      "type": "theme",
      "loader": null,
      "updateURL": null,
      "installOrigins": null,
      "manifestVersion": 2,
      "optionsURL": null,
      "optionsType": null,
      "optionsBrowserStyle": true,
      "aboutURL": null,
      "defaultLocale": {
        "name": "Firefox Alpenglow",
        "description": "Use a colorful appearance for buttons, menus, and windows.",
        "creator": null,
        "developers": null,
        "translators": null,
        "contributors": null
      },
      "visible": true,
      "active": false,
      "userDisabled": true,
      "appDisabled": false,
      "embedderDisabled": false,
      "installDate": 1758640256951,
      "applyBackgroundUpdates": 1,
      "path": null,
      "skinnable": false,
      "sourceURI": null,
      "releaseNotesURI": null,
      "softDisabled": false,
      "foreignInstall": false,
      "strictCompatibility": true,
      "locales": [],
      "targetApplications": [
        { "id": "toolkit@mozilla.org", "minVersion": null, "maxVersion": null }
      ],
      "targetPlatforms": [],
      "signedDate": null,
      "seen": true,
      "dependencies": [],
      "userPermissions": null,
      "optionalPermissions": null,
      "requestedPermissions": null,
      "icons": { "32": "icon.svg" },
      "iconURL": null,
      "blocklistAttentionDismissed": false,
      "blocklistState": 0,
      "blocklistURL": null,
      "startupData": null,
      "hidden": false,
      "installTelemetryInfo": null,
      "recommendationState": null,
      "rootURI": "resource://builtin-themes/alpenglow/",
      "location": "app-builtin"
    },
    {
      "id": "data-leak-blocker@mozilla.com",
      "syncGUID": "{318fe2ff-64fa-479f-85ee-245fb09653a6}",
      "version": "144.0.20250915.154356",
      "type": "extension",
      "loader": null,
      "updateURL": null,
      "installOrigins": null,
      "manifestVersion": 2,
      "optionsURL": null,
      "optionsType": null,
      "optionsBrowserStyle": true,
      "aboutURL": null,
      "defaultLocale": {
        "name": "Data Leak Blocker",
        "description": "",
        "creator": null,
        "developers": null,
        "translators": null,
        "contributors": null
      },
      "visible": true,
      "active": true,
      "userDisabled": false,
      "appDisabled": false,
      "embedderDisabled": false,
      "installDate": 1758640286559,
      "updateDate": 1758640286559,
      "applyBackgroundUpdates": 1,
      "path": "{{ firefox_profile_directory }}/features/{eef1dc82-4b19-4103-8870-3c9091366020}/data-leak-blocker@mozilla.com.xpi",
      "skinnable": false,
      "sourceURI": "file:///tmp/tmpaddon",
      "releaseNotesURI": null,
      "softDisabled": false,
      "foreignInstall": false,
      "strictCompatibility": true,
      "locales": [],
      "targetApplications": [
        {
          "id": "toolkit@mozilla.org",
          "minVersion": "139.0",
          "maxVersion": null
        }
      ],
      "targetPlatforms": [],
      "signedState": 3,
      "signedTypes": [2, 1],
      "signedDate": 1757951891000,
      "seen": true,
      "dependencies": [],
      "incognito": "spanning",
      "userPermissions": {
        "permissions": ["mozillaAddons"],
        "origins": [],
        "data_collection": []
      },
      "optionalPermissions": {
        "permissions": [],
        "origins": [],
        "data_collection": []
      },
      "requestedPermissions": {
        "permissions": [],
        "origins": [],
        "data_collection": []
      },
      "icons": {},
      "iconURL": null,
      "blocklistAttentionDismissed": false,
      "blocklistState": 0,
      "blocklistURL": null,
      "startupData": null,
      "hidden": true,
      "installTelemetryInfo": {
        "source": "system-addon",
        "method": "product-updates"
      },
      "recommendationState": null,
      "rootURI": "jar:file://{{ firefox_profile_directory }}/features/%7Beef1dc82-4b19-4103-8870-3c9091366020%7D/data-leak-blocker@mozilla.com.xpi!/",
      "location": "app-system-addons"
    }
  ]
}
