user_pref("network.captive-portal-service.enabled", false);
user_pref("toolkit.telemetry.enabled", false);
user_pref("datareporting.healthreport.uploadEnabled", false);
user_pref("network.proxy.allow_hijacking_localhost", true);
user_pref("extensions.foxyproxy.activeMode","BurpSuite");
